* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background: green;
    color: white
}

.button:hover {
    background: rgb(103, 228, 134);
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color:#f77062;
}

@media screen and (max-width: 768px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0;
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0;
        font-size: 17.5px;
    }
}

@media screen and (max-width: 360px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0;
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0;
        font-size: 11px;
    }
}

@media screen and (max-width: 280px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0;
        font-size: 8px;
    }
}

/*Hero Section CSS */
.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: auto;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 40px;
}

.main__content h1 {
    color: orange;
    font-size: 3rem;
    background-size: 100%;
}

.main__content h2 {
    color:#f77062;
    font-size: 2rem;
    background-size: 100%;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    line-height: 1.6;
    font-family: -webkit-pictograph;
}

.main__btn {
    font-size: 1rem;
    padding: 14px 32px;
    background: green;
    border: 0;
    border-radius: 4px;
    color:white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main__btn:hover {
    background: rgb(103, 228, 134);
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .main__content h1 {
        text-align: center;
        color: orange;
        font-size: 2rem;
        background-size: 100%;
    }
    .main__content h2 {
        text-align: center;
        color:#f77062;
        font-size: 1.5rem;
        background-size: 100%;
    }
    .main__container {
        text-align: center;
        padding-top: 40px;
        padding-bottom:40px;
    }
    .main__btn {
        margin:2rem;
    }
}
/* Footer CSS */
.footer__container {
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: #141414;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__icon--link {
    color:white;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin:5px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    color: white;
}

.footer__container--about {
    position:sticky;
    bottom: 0;
    width: 100%;
    background-color: #141414;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer__container {
        position: sticky;
    }
}


/* Contacts */
#section__contacts {
    height: auto;
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 500px;
    margin:40px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(216, 229, 238);
    background-color: white;
    border-radius: 8px;
}

.form--group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form--group input,
.form--group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgb(194, 190, 190);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

.submit__btn{
    width: 100%;
    border:none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background: green;
    color:white;
}

.submit__btn:hover{
    background-color:rgb(103, 228, 134) ;
}



/* Success */
.main__success{
    padding: 20%;
}

.success__container {
    height: auto;
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success__content {
    text-align: center;
    font-size: 4rem;
    background-size: 100%;
    margin-bottom: 40px;
}

.success__content h1 {
    color:orange;
}

.success__btn {
    width: 100%;
    border:none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background: green;
    color:white;
}

.success__btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.success__btn:hover {
    background: rgb(103, 228, 134);
}

@media screen and (max-width: 768px) {
    .success__content {
        font-size: 2rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .success__content {
        font-size: 1rem;
        margin-top: 5rem;
    }
}



/*About page */
.about__container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 3em auto;
	height: 300px;
	width: 700px;
    line-height: 1.6;
}

.about__details1 {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 35%;
    background-color: orange;

}

.about__details2 {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: right;
	width: 35%;
    background-color: #f77062;
}

.about__details h1{
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

.about__details h2 {
    color: darkslateblue;
}

.about__details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


.about__details p{
	display: inline-block;
	position: relative;
	font-size: 20px;
	margin: 0;
    font-weight: bold;	
    color:darkgreen;
}

.about__image1 {
	transition: all 0.3s ease-out;
	position: relative;
	overflow: hidden;
	height: 100%;
    float: right;
	width: 65%;
}

.about__image2 {
	transition: all 0.3s ease-out;
	position: relative;
	overflow: hidden;
	height: 100%;
    float: left;
	width: 65%;
}

.about__container img {
    width: 100%;  
    height: 100%;
}

.about__container h1{
    color: #344055;
    font-size: 20px;
}

.about__container h2{
    color:white;
    font-size: 18px;
}
.about__container p{
    color: darkslateblue;
    font-size: 15px;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.info h2 {text-align: center}
.about__image1:hover .info{transform: translateX(0);}
.about__image2:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{background-color: darkgreen;}

.about__image1:hover img {transition: all 0.3s ease-out;}
.about__image2:hover img {transition: all 0.3s ease-out;}

@media screen and (max-width: 768px) {
    .about__container{
        box-shadow: 0 15px 30px 1px grey;
        background: rgba(255, 255, 255, 0.90);
        text-align: center;
        border-radius: 5px;
        overflow: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 400px;
        width: 90vw;
        padding-bottom: 0;
        text-align: center;
    }

    .about__details1 {
        position: relative;
        overflow: hidden;
        padding: 8px;
        height: 30%;
        float: left;
        width: 100%;
        text-align: center;
    }

    .about__image1 {
        transition: all 0.3s ease-out;
        position: relative;
        overflow: hidden;
        height: 70%;
        float: bottom;
        width: 100%;
    }

    .about__details2 {
        position: relative;
        overflow: hidden;
        padding: 8px;
        height: 30%;
        float: left;
        width: 100%;
        text-align: center;
    }

    .about__image2 {
        transition: all 0.3s ease-out;
        position: relative;
        overflow: hidden;
        height:70%;
        float: bottom;
        width: 100%;
    }

    .about__container h1{
        color: #344055;
        font-size: 20px;
    }

    .about__container h2{
        color:white;
        font-size: 18px;
    }

    .about__container h3{
        color: green;
        font-size: 17px;
    }

    .about__container p{
        color: darkslateblue;
        font-size: 15px;
    }

    .info h2 {
        color:yellow;
    }

    .info {
        background: rgba(65, 64, 64, 0.9);
        transition: all 0.3s ease-out;
        transform: translateX(-100%);
        position: absolute;
        line-height: 1.8;
        text-align: center;
        font-size: 18px;
        cursor: no-drop;
        color: #FFF;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: 420px) {
    .about__container{
        box-shadow: 0 15px 30px 1px grey;
        background: rgba(255, 255, 255, 0.90);
        text-align: center;
        border-radius: 5px;
        overflow: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 550px;
        width: 90vw;
        padding-bottom: 0;
        text-align: center;
    }

    .about__details1 {
        position: relative;
        overflow: hidden;
        padding: 8px;
        height: 25%;
        float: left;
        width: 100%;
        text-align: center;
    }

    .about__image1 {
        transition: all 0.3s ease-out;
        position: relative;
        overflow: hidden;
        height: 75%;
        float: bottom;
        width: 100%;
    }

    .about__details2 {
        position: relative;
        overflow: hidden;
        padding: 8px;
        height: 25%;
        float: left;
        width: 100%;
        text-align: center;
    }

    .about__image2 {
        transition: all 0.3s ease-out;
        position: relative;
        overflow: hidden;
        height:75%;
        float: bottom;
        width: 100%;
    }

    .about__container h1{
        color: #344055;
        font-size: 20px;
    }

    .about__container h2{
        color:white;
        font-size: 18px;
    }

    .about__container h3{
        color: green;
        font-size: 17px;
    }

    .about__container p{
        color: darkslateblue;
        font-size: 15px;
    }

    .info h2 {
        color:yellow;
    }

    .info {
        background: rgba(65, 64, 64, 0.9);
        transition: all 0.3s ease-out;
        transform: translateX(-100%);
        position: absolute;
        line-height: 1.8;
        text-align: center;
        font-size: 18px;
        cursor: no-drop;
        color: #FFF;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: 280px) {
    .about__container{
        box-shadow: 0 15px 30px 1px grey;
        background: rgba(255, 255, 255, 0.90);
        text-align: center;
        border-radius: 5px;
        overflow: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 550px;
        width: 90vw;
        padding-bottom: 0;
        text-align: center;
    }

    .about__details1 {
        position: relative;
        overflow: hidden;
        padding: 8px;
        height: 25%;
        float: left;
        width: 100%;
        text-align: center;
    }

    .about__image1 {
        transition: all 0.3s ease-out;
        position: relative;
        overflow: hidden;
        height: 75%;
        float: bottom;
        width: 100%;
    }

    .about__details2 {
        position: relative;
        overflow: hidden;
        padding: 8px;
        height: 25%;
        float: left;
        width: 100%;
        text-align: center;
    }

    .about__image2 {
        transition: all 0.3s ease-out;
        position: relative;
        overflow: hidden;
        height:75%;
        float: bottom;
        width: 100%;
    }

    .about__container h1{
        color: #344055;
        font-size: 18px;
    }

    .about__container h2{
        color:white;
        font-size: 16px;
    }

    .about__container h3{
        color: green;
        font-size: 14px;
    }

    .about__container p{
        color: darkslateblue;
        font-size: 12px;
    }

    .info h2 {
        color:yellow;
    }

    .info {
        background: rgba(65, 64, 64, 0.9);
        transition: all 0.3s ease-out;
        transform: translateX(-100%);
        position: absolute;
        line-height: 1.8;
        text-align: center;
        font-size: 18px;
        cursor: no-drop;
        color: #FFF;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}

